.navbar {
    margin-bottom: 5rem;
}

.card {
    margin-top: 7rem;
}

.btn {
    width: 100%;
    margin-top: 2.5rem;
}

body{
    height: 100vh;
    background-image: url(img/blur_background.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.login-card{
    background-color:rgba(0,0,0,0);
}

.card-body{
    background-color: rgba(0, 0, 0, 0.4);
}

.top-buffer{
    margin-top: 20px;
}

.main-container{
    margin-left:10%;
}